.padder{
    padding-top: 20px;
}

.submit__button__wrapper{
    /* position: fixed;
    background: #fff;
    bottom: 2.8rem;
    width: 95%;
    padding: 4px;
    border: 1px solid var(--color-divider); */

    /* position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    padding: 5px 16%;
    box-shadow: 0 -4px 5px rgb(50 50 50 / 10%);
    z-index: 100; */
}
.btn{

float: right !important;
margin-bottom: 1rem !important;
margin-right: 1.5rem !important;
background-color: var(--primary-color) !important;
}